
<style>
        body {
            font-family: Arial, Helvetica, sans-serif;
        }

        form {
            border: 3px solid #f1f1f1;
        }

        input[type=text],
        input[type=number],
        input[type=password] {
            width: 260%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            box-sizing: border-box;

        }

        button {
            background-color: #4CAF50;
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            cursor: pointer;
            width: 100%;
        }
        button:hover {
            opacity: 0.8;
        }
        .container {
            padding: 16px;
            align-content: center;
            width: 30%;
            display: block;
            margin: 3px auto;
            margin-top: 175px;
            margin-top: -25px;


        }
        h2 {
            margin-left: 5px;
            margin-top: 90px;

        }
        form {
            border: none;
        }
    </style>
<div class="container">
<h2>Create Account</h2>

    <form method="post"action="">
        

<table>
        <tr>
            <td>User name</td>
            <td><input type="text" placeholder="Enter Username" name="username" required>
            </td>
        </tr>
        <tr>
            <td>Password</td>
            <td><input type="password" placeholder="Enter Password" name="password" required></td> 
            
        </tr>
        <tr>
            <td>Confirm password</td>
            <td><input type="password" placeholder="Enter Password" name="confirm_password" required></td> 
            
        </tr>
    
        <tr>
            <td>Foyer</td>       
            <td><input type="text" name="foyer" placeholder = "Foyer" required></td>       
        </tr>

        <tr>
            <td>Type Of House</td>
            <td><select id="house_type" name="house_type" type="text" style="width: 260%;">
                <option value="" selected="selected">Select One</option>
                <option value="1" >1</option>
                <option value="0" >0</option>
            </select></td> 
        </tr>

        <tr>
            <td>Surface</td>
            <td><input type="text" name="surface"></td>
        </tr>

        <tr>
            <td>Pieces</td>
            <td><input type="text" name="pieces"></td>
        </tr>

        <tr>
            <td>Chauffage</td>
            <td><input type="text" name="chauffage"></td>
        </tr>

        <tr>
            <td>Year Of Construction</td>
            <td><input type="text" name="year_of_construction"></td>
        </tr>

        <tr>
            <td>House number</td>
            <td><input type="text" name="house_no"></td> 
            
        </tr>

        <tr>
            <td>Street</td>
            <td><input type="text" name="street"></td> 
            
        </tr>

        <tr>
            <td>Pincode</td>
            <td><input type="number" name="pincode"></td> 
        </tr>

        <tr>
            <td>City</td>
            <td><input type="text" name="city"></td> 
        </tr>

        <tr>
            <td>Owner's first name</td>
            <td><input type="text" name="owners_firstname" placeholder = "First Name" required></td> 
        </tr>
        <tr>
            <td>Owner's last name</td>
            <td><input type="text" name="owners_lastname" placeholder = "Last Name" required></td> 
        </tr>

        <tr>
            <td>Renter's first name</td>
            <td><input type="text" name="renters_firstname" placeholder = "First Name" required></td> 
        </tr>
        <tr>
            <td>Renter's last name</td>
            <td><input type="text" name="renters_lastname" placeholder = "Last Name" required></td> 
        </tr>

    <tr>
        <td></td>
        <td><button style="width: 260%;">Submit</button></td> 
        <a href="/login">> Back to login</button></a>
        
    </tr>
  </div>

</table>

</form>